<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5" style="max-width:600px;">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">User Registration</h2>
                <hr class="divider" />            
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-8">
               
                <form [formGroup]="registrationForm" (ngSubmit)="register()">
                    
                      <!-- FirstName input-->
                      <div class="form-floating mb-3">
                        <input class="form-control" id="firstName" type="text" formControlName="firstName" 
                            placeholder="Enter your first name"
                            [ngClass]="{'is-invalid': (registrationForm.get('firstName').touched || registrationForm.get('firstName').dirty) && !registrationForm.get('firstName').valid}"
                            />
                        <label for="name">First name</label>                     
                        <div class="invalid-feedback" data-sb-feedback="name:required">Please enter your first name</div>
                    </div>

                      <!-- LastName input-->
                      <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="text" formControlName="lastName" 
                            placeholder="Enter your last name"
                            [ngClass]="{'is-invalid': (registrationForm.get('lastName').touched || registrationForm.get('lastName').dirty) && !registrationForm.get('lastName').valid}"
                            />
                        <label for="name">Last name</label>                     
                        <div class="invalid-feedback">
                            
                            Please enter your last name2
                        </div>
                    </div>

                    <!-- Email input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="text" formControlName="email" 
                            placeholder="Enter your email address" 
                            [ngClass]="{'is-invalid': (registrationForm.get('email').touched || registrationForm.get('email')?.dirty) && !registrationForm.get('email')?.valid}"
                            />
                        <label for="name">Email Address</label>                     
                        <div class="invalid-feedback" data-sb-feedback="name:required">Please enter a valid email address</div>
                    </div>
                    
                    
                     <!-- Password input-->
                     <div class="form-floating mb-3">
                      
                        <input class="form-control" id="password" type="password" formControlName="password" 
                            placeholder="Enter your password" 
                            [ngClass]="{'is-invalid': (registrationForm.get('password')?.touched || registrationForm.get('password')?.dirty) && !registrationForm.get('password')?.valid}"
                            />
                            <label for="name">Password</label>                
                        <div class="invalid-feedback" data-sb-feedback="name:required">                            
                            <span>Please enter a valid password: </span><br>
                            <span>Minimum eight in length</span><br>
                            <span>At least one upper case English letter </span><br>
                            <span>At least one lower case English letter </span><br>
                            <span>At least one digit </span><br>
                            <span>At least one special character</span><br>
                        </div>

                    </div>   

                     <!--Confirm Password input-->
                     <div class="form-floating mb-3">
                      
                        <input class="form-control" id="confirmPassword" type="password" formControlName="confirmPassword" 
                            placeholder="Enter password again" 
                            [ngClass]="{'is-invalid': (registrationForm.get('confirmPassword')?.touched || registrationForm.get('confirmPassword')?.dirty) && !registrationForm.get('confirmPassword')?.valid}"
                            />
                            <label for="name">Confirm Password</label>                
                        <div class="invalid-feedback" *ngIf="!registrationFormControls.confirmPassword.errors?.passwordMismatch">                            
                            <span>Please enter a valid password: </span><br>
                            <span>Minimum eight in length</span><br>
                            <span>At least one upper case English letter </span><br>
                            <span>At least one lower case English letter </span><br>
                            <span>At least one digit </span><br>
                            <span>At least one special character</span><br>
                        </div>
                        <div class="invalid-feedback" *ngIf="registrationFormControls.confirmPassword.errors?.passwordMismatch">                            
                            <span>Password do not match. </span>
                        </div>

                    </div>   
                   
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit"  [disabled]="!registrationForm.valid" >Register</button></div>

                   <div>
                        <span>touched: {{registrationForm.touched}}<br></span>
                        <span>valid: {{registrationForm.valid}}<br></span>
                        <span>value: {{registrationForm.value | json}}<br></span>

                   </div>
                </form>
            </div>          
        </div>       
    </div>
  </section>
