<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5" style="max-width:600px;">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Login</h2>
                <hr class="divider" />            
            </div>
        </div>
        <div class="col-xl-12 text-center alert alert-warning" *ngIf="errorMessage">
            <strong>Warning!</strong> {{errorMessage}}.
        </div> 
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-8">
               
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    
                    <!-- Email input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="text" formControlName="email" 
                            placeholder="Enter your email address" required minlength="7"
                            [ngClass]="{'is-invalid': (loginForm.get('email').touched || loginForm.get('email').dirty) && !loginForm.get('email').valid}"
                            />
                        <label for="name">Email Address</label>                     
                        <div class="invalid-feedback" data-sb-feedback="name:required">Please enter a valid email address</div>
                    </div>

                     <!-- Password input-->
                     <div class="form-floating mb-3">
                        <input class="form-control" id="password" type="password" formControlName="password" 
                            placeholder="Enter your password" required minlength="7"
                            [ngClass]="{'is-invalid': (loginForm.get('password').touched || loginForm.get('password').dirty) && !loginForm.get('password').valid}"
                            />
                        <label for="name">Password</label>                     
                        <div class="invalid-feedback" data-sb-feedback="name:required">Please enter a valid password</div>
                    </div>
                   
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit"  [disabled]="!loginForm.valid" >Login</button></div>

                   <div>
                        <span>touched: {{loginForm.touched}}<br></span>
                        <span>valid: {{loginForm.valid}}<br></span>
                        <span>value: {{loginForm.value | json}}<br></span>

                   </div>
                </form>
            </div>          
        </div>       
    </div>
  </section>