
<section class="page-section" id="contact">
    <div class="position-relative" style="top: -2.5rem !important;"> 
        <button type="button" class="close position-absolute top-0 end-0" aria-label="Close" style="cursor: pointer" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row" *ngIf="error">
        <div class="col-sm-9" >
            <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                <strong>Warning!</strong> {{error}}                
            </div>
        </div>
        <div class="col-sm-3">           
           
        </div>
    </div>

    
    <div class="row">
        <div class="col-sm-8" >
            <div class="card" *ngFor="let item of itemsInCart">
                <div class="card-body">
                    <div class="row" >
                    
                        <div class="col-2">
                        <figure class="figure cartImage" >
                            <img [src]="item.image_url" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">               
                        </figure>
                        </div>
                        <div class="col">              
                        
                            <div><span class="txtLabel">Description:</span><span> {{item.description}}</span></div>
                            <div><span class="txtLabel">Price:</span><span> {{item.price | currency}}</span></div>    
                            <div><span class="txtLabel">Size:</span><span> {{item.size}} or [{{item.women_size}} Women]</span></div>
                            <div><span class="txtLabel">Color:</span><span> {{item.color}}</span></div>
                         
                            <div class="input-group" style="width:150px;">
                                <label class="quantity" for="quantity">Quantity</label>
                                <select class="form-select form-select-sm selectpicker  f" aria-label=".form-select-sm example">
                                    <option *ngFor="let n of numSequence(5); let i = index;"  value="{{i+1}}}" [selected]="item.quantity == i+1" >{{i+1}}</option>
                                </select>
                            </div>
                            <div class="undo">
                                <button type="button" class="btn btn-outline-warning btn-sm">Remove</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">   
            <button type="button" class="btn btn-warning btn-lg">Proceed to checkout</button>        
            <div>
                <span class="call-to-action">{{message}}</span>
                <br>
                <span class="call-to-action-subtotal"> Subtotal: {{total | currency}}</span>
            </div>
        </div>         
    </div>

</section>