<section class="page-section" id="contact">


    <div class="row">
        <div class="col-sm-9">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.                
            </div>
        </div>
        <div class="col-sm-3">           
            <button type="button" class="btn btn-warning btn-lg">Proceed to checkout</button>        
            <div>
                <span class="call-to-action"> Hurry! You've 4 items in your cart</span>
                <br>
                <span class="call-to-action-subtotal"> Subtotal: $56.88</span>
            </div>
        </div>
    </div>

    

    <div class="card w-75">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                <figure class="figure cartImage" >
                    <img src="https://m.media-amazon.com/images/I/61ExSBpXT+L._AC_UL320_.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">               
                </figure>
                </div>
                <div class="col">              
                   
                    <div><span class="txtLabel">Description:</span><span> long description very long</span></div>
                    <div><span class="txtLabel">Price:</span><span> 5.88:</span></div>    
                    <div class="attributes">Package comes in 5 units</div>                                    
                    <div class="cart-status">
                        <span>Ships in 1 -5 business days</span>
                    </div>
                    <div class="input-group" style="width:150px;">
                        <label class="quantity" for="quantity">Quantity</label>
                         <select class="form-select form-select-sm selectpicker  f" aria-label=".form-select-sm example">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    <div class="undo">
                        <button type="button" class="btn btn-outline-warning btn-sm">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>


    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</section>